!!!
%html
  %head
    = render 'layouts/web/shared/head'
    = include_gon
  %body
    .main
      .navbar
        .navbar-inner
          .row-fluid
            .span6
              = link_to root_path do
                = image_tag("header_icon.png", size: "22x28", class: "logo pull-left")
      .content
        = yield
    = render :partial => 'layouts/web/shared/footer'
