%h1 Android Users

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_android_users_path, html: {class: "form-inline"}) do |f|
    = f.input :token_matches
    = f.submit class: 'btn', value: "Search"

= paginate @android_users

%table.table.table-striped
  %thead
    %tr
      %th #
      %th= sort_link @search, :token, "Token"
      %th= sort_link @search, :state, "State"
      %th

  %tbody
    - @android_users.each do |android_user|
      %tr
        %td= android_user.id
        %td= android_user.token
        %td= android_user.state
        %td
          .btn-group.pull-right
            = android_user.activate_or_block_link
            = admin_destroy_button(admin_android_user_path(android_user))
