%h1 Android Users

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_android_users_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :token_matches
    .form-group
      = f.submit class: 'btn', value: t('search')

= paginate @android_users

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :push_token
        %th= sort_link @search, :token
        %th= sort_link @search, :state
        %th

    %tbody
      - @android_users.each do |android_user|
        %tr{ class: android_user.state_class }
          %td= android_user.id
          %td= ios_user.push_token
          %td= android_user.token
          %td= android_user.state
          %td.text-right
            .btn-group
              = android_user.activate_or_block_link
              = admin_destroy_button(admin_android_user_path(android_user))

= paginate @android_users
