%h1 Api Users

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_api_users_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :token_matches
    .form-group
      = f.submit class: 'btn', value: "Search"

= paginate @api_users

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :token, "Token"
        %th= sort_link @search, :state, "State"
        %th

    %tbody
      - @api_users.each do |api_user|
        %tr
          %td= api_user.id
          %td= api_user.token
          %td= api_user.state
          %td.text-right
            .btn-group
              = api_user.activate_or_block_link
              = admin_destroy_button(admin_api_user_path(api_user))

= paginate @api_users
