%h1 Api Users

%hr

= simple_form_for @search, default_search_form_options(url: admin_api_users_path) do |f|
  = f.input :token_matches
  = f.submit class: 'btn', value: "Search"

= paginate @api_users

%table.table.table-striped
  %thead
    %tr
      %th #
      %th= sort_link @search, :token, "Token"
      %th= sort_link @search, :state, "State"
      %th

  %tbody
    - @api_users.each do |api_user|
      %tr
        %td= api_user.id
        %td= api_user.token
        %td= api_user.state
        %td
          .btn-group.pull-right
            = api_user.activate_or_block_link
            = admin_destroy_button(admin_api_user_path(api_user))
