%h1 iOS Users

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_ios_users_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :token_matches
    .form-group
      = f.submit class: 'btn', value: "Search"

= paginate @ios_users

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :token, "Token"
        %th= sort_link @search, :state, "State"
        %th

    %tbody
      - @ios_users.each do |ios_user|
        %tr{ class: ios_user.state_class }
          %td= ios_user.id
          %td= ios_user.token
          %td= ios_user.state
          %td.text-right
            .btn-group
              = ios_user.activate_or_block_link
              = admin_destroy_button(admin_ios_user_path(ios_user))

= paginate @ios_users
