.footer
  .footer-inner
    %p.pull-right
      = link_to '@WaytagRu', 'https://twitter.com/WaytagRU', target: "_blank"
      = link_to 'Блог', posts_path
    %p.pull-left
      © 2011 – #{Time.now.strftime("%Y")}
      = link_to "waytag.ru", "http://waytag.ru"
    %p.pull-left
      Электропочта:
      = mail_to("mail@waytag.ru")
:javascript
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter19254682 = new Ya.Metrika({id:19254682,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
%noscript
  %div
    %img{src: "//mc.yandex.ru/watch/19254682", style:"position:absolute; left:-9999px;", alt:""}
