%footer
  = link_to 'Twitter', 'https://twitter.com/WaytagRU', target: "_blank"
  = link_to 'Блог', posts_path
  %p
    © 2011 – #{Time.now.strftime("%Y")}
    = link_to "waytag.ru", "http://waytag.ru"
  %p.pull-left
    Электропочта:
    = mail_to("mail@waytag.ru")
