.send-form
  - if can_post_message?
    %h1 Сообщить обстановку
    = simple_form_for @api_report, remote: true, url: city_reports_path(resource_city) do |f|
      %div#alert-placeholder
      .row
        .col-md-3
          .control-group
            .event-selector.type
              - EventKinds.all.each do |ek|
                %a.btn.btn-lg.btn-block{ 'data-event-kind' => ek }= t(ek)
        .col-md-9
          .row
            .col-md-6
              .control-group.select2-wrapper
                %input#street-select{ type: "hidden", placeholder: "Где?" }
                .clearfix
            .col-md-6
              .control-group
                %textarea.how{:rows => "3", placeholder: "Как?" }
                .clearfix
          %br
          .preview.well
      %br
        = f.hidden_field :text, class: :send_form_text
        = f.hidden_field :time, class: :send_form_time
        = f.hidden_field :event_kind, class: :send_form_kind
        = f.submit class: 'send btn btn-primary btn-lg', :value => "Сообщить в #{resource_city.twitter_name}"
    :javascript
      $(function() { React.renderComponent(PostForm(null), document.getElementById('new_api_report'));} );
  - else
    %h1 Недавно вы уже отпарвляли сообщение, подождите немного для отправки следующего


