%meta{:charset => "utf-8"}/
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
%title= "Waytag - дорожный докладатор"
/[if lt IE 9]
  = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "application"
= javascript_include_tag 'http://www.google.com/jsapi'
= csrf_meta_tags
