%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/

%link{ rel: "shortcut icon", href: "/favicon.ico?v=2", type:"image/x-icon"}
%link{ rel:"icon", href:"/favicon.ico?v=2", type:"image/x-icon"}

= display_meta_tags :site => configus.site_name, keywords: configus.keywords, charset: "utf-8", description: configus.description

/[if lt IE 9]
  = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "application"
= javascript_include_tag 'http://www.google.com/jsapi'
= csrf_meta_tags
