.container.typo
  %h1 Блог Waytag
  - @posts.each do |post|
    .post
      %h2= post.title
      .description!= markdown.render(post.content)
      %p.meta
        %date= post.created_at.strftime("%e %b %Y")
        %author= post.user_name

    = paginate @posts
