.container
  .row
    .cl-lg-12
      - if @reports.any?
        - @reports.each do |report|
          = report.userpic

          %p
            = report.published_at
            != markdown.render(report.text)
            = report.published_by
          %hr

#= render :partial => 'layouts/web/cities/info'
= render :partial => 'layouts/web/shared/form'
= render :partial => 'layouts/web/shared/radio'
= render :partial => 'layouts/web/shared/bonuses'
