%nav.navbar.navbar-default.navbar-inner{ role: "navigation" }
  .container
    .row
      .col-md-4
        = link_to root_path do
          = image_tag("sticker#{resource_city.slug}.svg", class: "logo pull-left")

        = menu_group do
          = drop_down '' do
            - resource_city.cities_to_go.each do |sub_city|
              = menu_item sub_city.name, city_path(sub_city)
      .col-md-8
        = menu_group pull: :right do
          - if resource_city.bonuses.any?
            = menu_item "О, Бонусы", city_bonuses_path(resource_city)
          - if resource_city.partners.any?
            = menu_item "Партнеры", city_partners_path(resource_city)
          = menu_item "Цифры и факты", city_stats_path(resource_city)

.wash-block
  %p
    %a{href: "http://onewash.ru"}
      Запишись на мойку через интернет!
