= simple_form_for @post, url: url, html: {class: "form-horizontal"} do |f|
  = f.error_notification

  = f.input :user_name
  = f.input :title
  = f.input :content, input_html: {rows: "16"}
  = f.input :state
  = f.input :published_at
  = f.input :seo_name
  = f.input :seo_keywords
  = f.input :seo_description

  .form-group
    .col-sm-10.col-sm-offset-2
      = f.button :submit
