= simple_form_for @post, :url => url, :html => {:class => "form-horizontal"} do |f|
  = f.error_notification
  = f.input :name
  = f.input :title
  = f.input :content
  .control-group
    .controls
      = f.button :submit, :class => 'btn btn-primary'
- if @post.persisted?
  %h4 Preview 
  %hr
  %description!= markdown.render(@post.content)