%h1
  Listing posts
  = link_to '+ New Post', new_admin_post_path, class: "btn btn-default"

%hr

= paginate @posts

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :user_name
        %th= sort_link @search, :title
        %th= sort_link @search, :state
        %th= sort_link @search, :published_at
        %th

    %tbody
      - @posts.each do |post|
        %tr
          %td= post.id
          %td= post.user_name
          %td= post.title
          %td= post.state
          %td= post.published_at
          %td= edit_and_destroy_buttons_vertical(edit_admin_post_path(post), admin_post_path(post))

= paginate @posts

