.send-form
  .row
    .col-md-6.col-md-offset-3
      .center-block
        %center
          %h1 Дорожный классификатор
          = form_tag classifier_path, method: :get, role: :form do
            .control-group
              = text_field_tag :text, "", placeholder: "Текст", class: "form-control"
            .clearfix
            .control-group
              %br
              = submit_tag 'Посмотреть че-как', class: "send btn btn-primary btn-lg"

- if @classifier_meta

  - id = 0
  - @classifier_meta[:categories].each do |category|
    %div{ class: "info-#{category[:name]}" }
      %h2=t(category[:name])
      - if category[:name] == @classifier_meta[:selected_category]
        selected
      .row
        %h5 произведение вероятностей принадлежности текста к этой категории, если в нем есть этот признак
        - @classifier_meta[:features].each do |feature|
          .col-md-2
            - feature_cat = feature[:categories].find { |c| c[:name] == category[:name] }
            .dropdown
              %p
                = feature[:name]
              %p.number.dropdown-toggle{ id: "dropdown_#{id}", 'data-toggle' => "dropdown" }
                = real_f(feature_cat[:weighted_prob])
                %span.caret
              .dropdown-menu{ role: "menu", 'aria-labelledby' => "dropdown_#{id}" }
                %div
                  Вероятность (Признак|Категория)
                  %br
                  = real_f(feature_cat[:feature_prob])

                  %br
                  Частота появления во всех категориях
                  %br
                  = real_f(feature_cat[:freqsum])

                  %br
                  Вероятность (Категория|Признак)
                  %br
                  = real_f(feature_cat[:feature_prob])
                  \/
                  = real_f(feature_cat[:freqsum])
                  \=
                  = real_f(feature_cat[:category_prob])

                  %br
                  Взвешенная вероятность
                  %br
                  (1 * 0.2 +
                  = feature[:feature_in_all_categories]
                  *
                  = real_f(feature_cat[:category_prob])
                  ) / ( 1 +
                  = feature[:feature_in_all_categories]
                  ) =
                  = real_f(feature_cat[:weighted_prob])

          .col-md-1
            %p
            %p.sign
              - if feature != @classifier_meta[:features].last
                *
              - else
                = "=#{real_f(category[:probs_multiply])}"

      .row
        %h5
          коэф. Фишера
        %h5
          = "-2 * log 2 (#{real_f(category[:probs_multiply])}) = #{real_f(category[:fisher_factor])}"
      .row
        %h4
          Вероятность Фишера
        %h4
          invchi2(
          = real_f(category[:fisher_factor]) \
          ,
          = @classifier_meta[:features].count
          * 2 ) =
          = real_f(category[:fisher_prob])

        - id += 1
