.send-form.classifier-form
  .row
    .col-md-6.col-md-offset-3
      .center-block
        %center
          = form_tag classifier_path, method: :get, role: :form do
            = text_field_tag :text, "", placeholder: "Текст", class: "form-control", value: params[:text]
            %br
            = submit_tag 'Посмотреть че-как', class: "send btn btn-primary btn-lg"

- if @classifier_meta

  - id = 0
  - @classifier_meta[:categories].each do |category|
    %div{ class: "info-block info-#{category[:name]}" }
      %h2.rotate
        - if category[:name] == @classifier_meta[:selected_category]
          &#10004;
        =t(category[:name])
      .container
        .row
          %br
          %p.text-center произведение вероятностей принадлежности текста к этой категории, если в нем есть этот признак
          .prob-list
            - @classifier_meta[:features].each do |feature|
              .prob-item
                - feature_cat = feature[:categories].find { |c| c[:name] == category[:name] }
                .dropdown
                  %p.word
                    %b= feature[:name]
                  %button.btn.btn-info.btn-lg.dropdown-toggle{ id: "dropdown_#{id}", 'data-toggle' => "dropdown" }
                    = real_f(feature_cat[:weighted_prob])
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      %p Вероятность (Признак|Категория)
                      %h4= real_f(feature_cat[:feature_prob])

                      %p Частота появления во всех категориях
                      %h4= real_f(feature_cat[:freqsum])

                      %p Вероятность (Категория|Признак)
                      %h4
                        = real_f(feature_cat[:feature_prob])
                        \/
                        = real_f(feature_cat[:freqsum])
                        \=
                        = real_f(feature_cat[:category_prob])

                      %p Взвешенная вероятность
                      %h4
                        (1 * 0.2 +
                        = feature[:feature_in_all_categories]
                        *
                        = real_f(feature_cat[:category_prob])
                        ) / ( 1 +
                        = feature[:feature_in_all_categories]
                        ) =
                        = real_f(feature_cat[:weighted_prob])

              .prob-sign
                - if feature != @classifier_meta[:features].last
                  &times;
                - else
                  = "=#{real_f(category[:probs_multiply])}"

        .row
          %h2
            коэф. Фишера
          .coef.smaller<
            —2
            %span.arifm &times;
            log
            %sub<> 2
            = "(#{real_f(category[:probs_multiply])})"
            %span.arifm =
            = "#{real_f(category[:fisher_factor])}"
        .row
          %h2
            Вероятность Фишера
          .coef.bigger<
            (χ
            %sup<> inv
            )
            %sup<> 2
            (
            = real_f(category[:fisher_factor]) \
            ,
            = @classifier_meta[:features].count
            %span.arifm &times;
            2 )
            %span.arifm =
            %span.coef.result
              = real_f(category[:fisher_prob])

            - id += 1
