= javascript_include_tag "cities/application"

.tweets-block
  .container
    - if @reports.any?
      - date = ""
      - @reports.each do |report|
        .tweet
          - if report.published_date != date
            - date = report.published_date
            %span.date
              = date

          %span.info
            %span.nick
              = report.published_by
            = report.userpic
          %span.info
            = report.published_at
          %span.text
            != markdown.render(report.text)


= render :partial => 'layouts/web/cities/info'
= render :partial => 'layouts/web/shared/form'
= render :partial => 'layouts/web/shared/bonuses'
