= javascript_include_tag "cities/application"

.container-fluid
  .tweets-block.row
    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
      - if @reports.any?
        - date = ""
        - @reports.each do |report|
          .tweet.row
            .col-md-3.col-sm-3.info
              - if report.published_date != date
                - date = report.published_date
                %span.date
                  = date

              %span.nick
                = report.published_by

              = report.userpic

            .col-md-9.col-sm-9.text
              = report.published_at
              = report.text

= render :partial => 'layouts/web/shared/form'
= render :partial => 'layouts/web/cities/info'
