= simple_form_for @city, url: url, html: {class: "form-horizontal"} do |f|
  = f.error_notification

  = f.input :slug
  = f.input :name
  = f.input :email
  = f.input :twitter_name
  = f.input :hashtag
  = f.input :yandex_widget
  = f.input :vk_name

  .form-group
    .col-sm-10.col-sm-offset-2
      = f.button :submit
