%h1 Listing cities

%table
  %tr
    %th Slug
    %th Name
    %th Email
    %th Twitter name
    %th Hashtag
    %th
    %th

  - @cities.each do |city|
    %tr
      %td= city.slug
      %td= city.name
      %td= city.email
      %td= city.twitter_name
      %td= city.hashtag
      %td= link_to 'Edit', edit_admin_city_path(city)
      %td= link_to 'Destroy', admin_city_path(city), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New City', new_admin_city_path
