%h3
  = t('city.list')

.clearfix
  .pull-left
    = ransack_paginate @cities
  .pull-right
    = link_to new_admin_city_path, class: "btn btn-primary" do
      %i.icon-plus
      = t('Add city')

%table.table
  %thead
    %th= sort_link @q, :name, t('city.name')
    %th= sort_link @q, :twitter, t('city.twitter')
    %th= sort_link @q, :email, t('city.email')
    %th= sort_link @q, :sub_domain, t('city.sub_domain')
    %th= sort_link @q, :hashtag, t('city.hashtag')
    %th= sort_link @q, :actions, t('city.actions')

  %tbody
    - @cities.each do |city|
      %tr
        %td
          = city.name
        %td
          = city.twitter
        %td
          = city.email
        %td
          = city.sub_domain
        %td
          = city.hashtag
        %td
          .btn-group
            = link_to t('streets'), admin_city_streets_path(city), class: "btn"
            = link_to t('edit'), edit_admin_city_path(city.id), class: "btn btn-primary"
            = link_to t('destroy'), admin_city_path(city.id), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger"

= ransack_paginate @cities