%h1 Listing bonuses

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @bonuses.each do |bonus|
    %tr
      %td= bonus.title
      %td= bonus.description
      %td= link_to 'Show', bonus
      %td= link_to 'Edit', edit_bonus_path(bonus)
      %td= link_to 'Destroy', bonus, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bonus', new_bonus_path
