%h1 Reports

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_reports_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :city_id_eq, collection: City.all, include_blank: t('all_cities')
    .form-group
      = f.submit class: 'btn', value: "Search"

= paginate @reports

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :event_kind, "Event"
        %th= sort_link @search, :text, "Text"
        %th= sort_link @search, :time, "Date"
        %th= sort_link @search, :state, "State"
        %th= sort_link @search, :source_kind, "Source"
        %th
        %th= sort_link @search, :city_id, "City"
        %th

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.id
          %td
            - if report.event_kind
              %span{ class: "label #{report.event_label_class}" }
                = t(report.event_kind)
          %td= report.text
          %td= report.published_date
          %td
            %span{ class: "label #{report.state_label_class}" }
              = report.state_string
          %td
            %span{ class: "label label-default" }
              = report.source_kind
          %td= report.sourceable_link
          %td= report.city.name
          %td
            .btn-group-vertical
              = link_to 'Good', good_admin_report_path(report), class: 'btn btn-primary', method: :patch
              = link_to 'Bad', bad_admin_report_path(report), class: 'btn btn-default', method: :patch
          %td
            - if report.posted? && report.id_str
              = link_to 'Destroy', admin_report_path(report), destroy_button_params
            - unless report.posted? || report.wating_post?
              = link_to 'Good && Publish', publish_admin_report_path(report), class: 'btn btn-success', method: :patch

= paginate @reports
