%h1 Reports

%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th City
      %th Text
      %th Time
      %th State
      %th Source kind
      %th Event kind
      %th

  %tbody
    - @reports.each do |report|
      %tr
        %td= report.id
        %td= report.city_id
        %td= report.text
        %td= report.time
        %td= report.state
        %td= report.source_kind
        %td= report.event_kind
        %td= admin_destroy_button(admin_report_path(report))

