%h1 Reports

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_reports_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :city_id_eq, collection: City.all, include_blank: t('all_cities')
    .form-group
      = f.submit class: 'btn', value: t('search')

= paginate @reports

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th= sort_link @search, :event_kind
        %th= sort_link @search, :text
        %th= sort_link @search, :time
        %th= sort_link @search, :state
        %th= sort_link @search, :source_kind
        %th
        %th= sort_link @search, :city_id
        %th

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.id
          %td
            - if report.event_kind
              %span{ class: "label #{report.event_label_class}" }
                = t(report.event_kind)
          %td= report.text
          %td= report.published_date
          %td
            %span{ class: "label #{report.state_label_class}" }
              = report.state_string
          %td
            %span{ class: "label label-default" }
              = report.source_kind
          %td= report.sourceable_link
          %td= report.city.name
          %td
            .btn-group-vertical
              = link_to t('mark_good'), good_admin_report_path(report), class: 'btn btn-primary', method: :patch
              = link_to t('mark_bad'), bad_admin_report_path(report), class: 'btn btn-default', method: :patch
          %td
            .btn-group-vertical
              - if report.added?
                = link_to t('process'), perform_admin_report_path(report), class: 'btn btn-default', method: :patch
              - if report.can_be_published?
                = link_to t('good_publish'), publish_admin_report_path(report), class: 'btn btn-success', method: :patch
              = link_to t('destroy'), admin_report_path(report), destroy_button_params

= paginate @reports
