%h1 Listing reports

%table
  %tr
    %th City
    %th Text
    %th Time
    %th State
    %th Source kind
    %th

  - @reports.each do |report|
    %tr
      %td= report.city_id
      %td= report.text
      %td= report.time
      %td= report.state
      %td= report.source_kind
      %td= link_to 'Destroy', admin_report_path(report), method: :delete, :data => { :confirm => 'Are you sure?' }

