%h1 Bonuses

%hr

= link_to 'New Bonus', new_admin_bonus_path, right_button_params

= paginate @bonuses

%table.table.table-striped
  %thead
    %tr
      %th #
      %th= sort_link @search, :title, "Title"
      %th= sort_link @search, :description, "Description"
      %th

  %tbody
    - @bonuses.each do |bonus|
      %tr
        %td= bonus.id
        %td= bonus.title
        %td= bonus.description
        %td= edit_and_destroy_buttons(edit_admin_bonus_path(bonus), admin_bonus_path(bonus))

= paginate @bonuses
