%h1 Partners

%hr

= link_to 'New Partner', new_admin_partner_path, right_button_params

= paginate @partners

%table.table.table-striped
  %thead
    %tr
      %th #
      %th= sort_link @search, :title, "Title"
      %th= sort_link @search, :description, "Description"
      %th

  %tbody
    - @partners.each do |partner|
      %tr
        %td= partner.id
        %td= partner.title
        %td= partner.description
        %td= edit_and_destroy_buttons(edit_admin_partner_path(partner), admin_partner_path(partner))

= paginate @partners
