= javascript_include_tag "stats/application"

.container.stat
  %br
  %br
  .row
    .col-md-4.col-md-offset-4
      %ul.nav.nav-pills.nav-justified.waytag-pills
        - @years.each do |year|
          %li{class: year.to_i == @current_year.to_i ? "active" : ""}
            = link_to year, city_stats_path(city: resource_city, year: year)
  %br
  %br

  .row
    .col-md-12.text-center
      %h2= "Всего сообщений: #{@all}"
      %h2= "В сутки в среднем: #{@avg}"

      %br
      .row
        - @by_type.each do |v|
          .col-md-3
            %p.legend{style: "background: #{v[:color]}"}
              = v[:label]
              %strong
              = v[:value]
      %br
      %br

      %canvas#by_type{:height => "450", :width => "800"}

      %h2 Самые аварийные места
      %canvas#danger_zones{:height => "450", :width => "800"}

      %h2 По часам в сутках
      %canvas#by_hour{:height => "450", :width => "800"}

      %h2 По дням недели
      %canvas#by_day{:height => "450", :width => "800"}

      %h2 По месяцам
      %canvas#by_month{:height => "450", :width => "800"}
