.row
  %br
  .span4.offset3.well
    %h2= t('authenticate')
    = simple_form_for @user, :url => admin_session_path do |f|
      - f.with_options :input_html => {:class => :span4} do |f|
        = f.input :login
        = f.input :password

      .form-actions
        = f.button :submit, t('login'), :class => 'btn-primary pull-right'
