%p#notice= notice

%p
  %b Slug:
  = @city.slug
%p
  %b Name:
  = @city.name
%p
  %b Email:
  = @city.email
%p
  %b Twitter name:
  = @city.twitter_name
%p
  %b Hashtag:
  = @city.hashtag

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
