!!! 5
%html(lang="en")
  %head
    = render 'layouts/web/admin/shared/head'

  %body
    .main
      = nav_bar fixed: :top, brand: "Waytag::Admin", brand_link: admin_root_path do
        = menu_group do
          = menu_item "Reports", admin_reports_path
          = menu_item "Cities", admin_cities_path
          = menu_item "Partners", admin_partners_path
          = menu_item "Bonuses", admin_bonuses_path
          = menu_item "Blog", admin_posts_path
          = drop_down "Users" do
            = menu_item "Twitter", admin_twitter_users_path
            = menu_item "Web", admin_web_users_path
            = menu_item "Android", admin_android_users_path
            = menu_item "IOS", admin_ios_users_path
            = menu_item "API", admin_api_users_path
        = menu_group :pull => :right do
          - if current_user
            %li
              = image_tag current_user.profile_image_url, class: "nav-avatar"
            = drop_down "You are #{current_user.screen_name}" do
              = menu_item "Log Out", admin_session_path, method: :delete


      %br
      %br
      %br
      .container.base-content
        .row
          .col-lg-12
            = bootstrap_flash
            = yield
    %footer
      %p &copy; Waytag.ru 2013
