= simple_form_for(@report) do |f|
  = f.error_notification

  .form-inputs
    = f.input :city_id
    = f.input :text
    = f.input :time
    = f.input :state
    = f.input :source_kind

  .form-actions
    = f.button :submit
