%p#notice= notice

%p
  %b City:
  = @report.city_id
%p
  %b Text:
  = @report.text
%p
  %b Time:
  = @report.time
%p
  %b State:
  = @report.state
%p
  %b Source:
  = @report.source_id
%p
  %b Source type:
  = @report.source_type
%p
  %b Source kind:
  = @report.source_kind

= link_to 'Edit', edit_report_path(@report)
\|
= link_to 'Back', reports_path
