%h1 Twitter Users

%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Image
      %th Name
      %th Screen name
      %th External id str
      %th State
      %th

  %tbody
    - @twitter_users.each do |twitter_user|
      %tr
        %td= twitter_user.id
        %td= twitter_user.name
        %td= twitter_user.screen_name
        %td= twitter_user.id_str
        %td= twitter_user.state
        %td= admin_destroy_button(admin_twitter_user_path(twitter_user))
