%h1 Twitter Users

%hr

.well
  = simple_form_for @search, default_search_form_options(url: admin_twitter_users_path, html: {class: "form-inline"}) do |f|
    .form-group
      = f.input_field :uid_matches, placeholder: "ID str"
    .form-group
      = f.input_field :name_matches, placeholder: "name"
    .form-group
      = f.input_field :screen_name_matches, placeholder: "screen name"
    = f.submit class: 'btn', value: "Search"
  %hr
    = form_tag admin_twitter_users_path, method: :post, role: :form, class: "form-inline" do
      .form-group
        = text_field_tag :screen_name, "", placeholder: "@user_name", class: "form-control"
      = submit_tag "Add from twitter", class: "btn"

= paginate @twitter_users

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th= sort_link @search, :uid, "External"
          %th Image
          %th= sort_link @search, :name, "Name"
          %th= sort_link @search, :screen_name, "Screen name"
          %th= sort_link @search, :state, "State"
          %th Description
          %th

      %tbody
        - @twitter_users.each do |twitter_user|
          %tr{ class: twitter_user.state_class }
            %td= twitter_user.id
            %td= link_to twitter_user.uid, twitter_user.twitter_path
            %td
              = image_tag twitter_user.profile_image_url if twitter_user.profile_image_url
            %td= twitter_user.name
            %td= "@#{twitter_user.screen_name}"
            %td= twitter_user.state
            %td= twitter_user.description
            %td
              .btn-group-vertical.pull-right
                = twitter_user.activate_or_block_link
                = admin_destroy_button(admin_twitter_user_path(twitter_user))
